@import './index.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  color: $classics-color-text-primary;
}
a {
  color: $--link-color;
}
a:hover, a:focus {
  color: $--link-hover-color;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial,
    sans-serif;
}
:root {
  font-size: 62.5%;
}
#app {
  height: 100%;
  font-size: $font-size-p;
  background-color: $classics-app-bg;
}

.svg-icon {
  width: $font-size-p;
  height: $font-size-p;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
