@mixin menu-classics-theme {
  .el-submenu__title {
    color: $classics-menuText;
    &:focus {
      background-color: $classics-menuBg;
    }
    &:hover {
      background-color: $classics-menuHover;
    }
  }
  .el-menu-item {
    color: $classics-menuText;
    &:focus {
      background-color: $classics-menuBg;
    }
    &:hover {
      background-color: $classics-menuHover;
    }
    &.is-active {
      color: $classics-menuActiveText;
    }
  }
}
@mixin submenu-classics-theme {
  .el-submenu__title {
    color: $classics-menuText;
    background-color:$classics-subMenuBg;
    &:hover {
      background-color:$classics-subMenuHover;
    }
  }
  .el-menu-item {
    color: $classics-menuText;
    background-color:$classics-subMenuBg;
    &:hover {
      background-color:$classics-subMenuHover;
    }
    &.is-active {
      color: $classics-menuActiveText;
    }
  }
}
.main_sidebar.sidebar_menu {
  height: calc(100% - #{$header-height});
  width: $sidebar-max-width;
  box-sizing: border-box;
  transition: $width-transition-base;
  .el-scrollbar {
    height: 100%;
    .scrollbar-wrapper {
      overflow-x: hidden;
      .el-scrollbar__view {
        height: 100%;
        .el-menu {
          border-right: none;
          background-color: $classics-menuBg;
          height: 100%;
          @include menu-classics-theme;
          .menu-item_link {
            text-decoration: none;
          }
          &.el-menu--collapse {
            .el-submenu {
              .el-submenu__title {
                span {
                  height: 0;
                  width: 0;
                  overflow: hidden;
                  visibility: hidden;
                  display: inline-block;
                }
                .el-submenu__icon-arrow {
                  display: none;
                }
              }
            }
            .el-menu-item {
              span {
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                display: inline-block;
              }
              .el-submenu__icon-arrow {
                display: none;
              }
            }
          }
          .el-submenu .menu__nest {
            @include submenu-classics-theme;
          }
        }
      }
    }
  }
}
