$default-color-success: #67c23a !default;
/// color|1|Functional Color|1
$default-color-warning: #e6a23c !default;
/// color|1|Functional Color|1
$default-color-danger: #f56c6c !default;
/// color|1|Functional Color|1
$default-color-info: #909399 !default;
$default-color-primary: #409eff !default;
/// color|1|Background Color|4
$default-color-white: #ffffff !default;
/// color|1|Background Color|4
$default-color-black: #000000 !default;

$green-color-success: #3fa26c !default;
/// color|1|Functional Color|1
$green-color-warning: #e6a23c !default;
/// color|1|Functional Color|1
$green-color-danger: #f56c6c !default;
/// color|1|Functional Color|1
$green-color-info: #5972a6 !default;
$green-color-primary: #326e75 !default;
/// color|1|Background Color|4
$green-color-white: $default-color-white !default;
/// color|1|Background Color|4
$green-color-black: $default-color-black !default;

$assets: '~@/assets';
$green-background-color: #93bda4;
$green-background-image: '#{$assets}/green-bg.png';
$font-size-base: 3rem;
$font-size-h1: $font-size-base;
$font-size-h2: $font-size-base * (1 - 0.2);
$font-size-h3: $font-size-base * (1 - 0.3);
$font-size-h4: $font-size-base * (1 - 0.4);
$font-size-p: $font-size-base * (1 - 0.4);
$font-size-h5: $font-size-base * (1 - 0.5);
$font-size-h6: $font-size-base * (1 - 0.6);

$login-background-color: $green-background-color;
$login-background-image: $green-background-image;

/// color|1|Border Color|3
$border-color-base: #dcdfe6 !default;
/// color|1|Border Color|3
$border-color-light: #e4e7ed !default;
/// color|1|Border Color|3
$border-color-lighter: #ebeef5 !default;
/// color|1|Border Color|3
$border-color-extra-light: #f2f6fc !default;
$width-transition-base: width 0.24s;
$header-height: 5rem;
$sidebar-max-width: 20rem;
$sidebar-min-width: 6.5rem;

$font-color-light: #bfcbd9;
$font-color-lighter: #f4f4f5;
// sidebar
$menuText: $font-color-light;
$menuActiveText: $default-color-primary;
$subMenuActiveText: $font-color-lighter; // https://github.com/ElemeFE/element/issues/12951
$main-view-bg: #dadadd;
$headerBg: #333333;
$menuBg: #333333;
$menuHover: #1e1e1e;

$subMenuBg: #3a3d41;
$subMenuHover: #46474e;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
}
